---
import "@unocss/reset/tailwind.css";
---

<main><h1 class="text-(blue 4xl center) font-black">Hacker News</h1></main>

<style is:global>
  body {
    @apply bg-neutral-9 text-neutral-1 font-sans;
  }
</style>
